html, body, .form-wrapper{
    height: 100%;
}
.form-wrapper, .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form input, button, p, .captcha{
    margin-top: 10px;
}
button{
    width: 100%;
}
